/*
 * Styles des formulaires de modification de post de et de comment, utilisants le rich text editor Quill
 */
.post .post-header .post-edit-title
{
    margin-bottom: 8px;
}

.post .post-header .post-edit-title #title
{
    width: calc(100% - 18px);
}

#input-image
{
    margin: 16px 0;
}