#post-editor
{
    margin-bottom: 8px;
}

.ql-toolbar.ql-snow,
.ql-container.ql-snow,
.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label,
.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options
{
    border-color: var(--primary-border-color);
}
.ql-editor.ql-blank::before
{
    color: var(--primary-txt-color);
    opacity: .6;
    font-size: 1rem;
}
.ql-snow .ql-stroke
{
    stroke: var(--primary-txt-color);
}
.ql-snow .ql-fill
{
    fill: var(--primary-txt-color);
}
.ql-snow .ql-picker
{
    color: var(--primary-txt-color);
}
.ql-snow .ql-picker-options
{
    background-color: var(--primary-bg-color);
}
.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke
{
    stroke: var(--orange-color);
}
.ql-snow.ql-toolbar button.ql-active .ql-fill
{
    fill: var(--orange-color);
}
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar button:hover,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected
{
    color: var(--orange-color);
}
.ql-snow.ql-toolbar button:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke
{
    stroke: var(--orange-color);
}
.ql-snow.ql-toolbar button:hover .ql-fill
{
    fill: var(--orange-color);
}
