#comments #new-comment
{
    margin-bottom: 16px;
}


.comment .comment-header
{
    display: flex;
    align-items: center;
}

.comment .comment-header img
{
    max-height: 32px;
    border-radius: 50%;
    background-color: #272729;
    padding: 4px;
    border: 1px solid #343536;
    margin-right: 4px;
}