* {
    font-family: Calibri, sans-serif;
    font-size: 1rem;
}

body
{
    margin: 0;
    background-color: gainsboro;
}

#main
{
    background-color: #030303;
    padding-top: 50px;
    min-height: calc(100vh - 50px);
}

#canvas
{
    width: 65%;
    margin: 0 auto;
    color: gainsboro;
}
