.post-header
{
    display: flex;
    justify-content: space-between;
}
.post-header p
{
    margin: 0;
}

.post-footer
{
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
}

.post-content
{
    margin-bottom: 24px;
}

.user-infos
{
    display: flex;
    align-content: center;
}
