#post-editor
{
    margin-bottom: 8px;
}

.ql-toolbar.ql-snow,
.ql-container.ql-snow,
.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label,
.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options
{
    border-color: #343536;
}
.ql-editor.ql-blank::before
{
    color: gainsboro;
    opacity: .6;
    font-size: 1rem;
}
.ql-snow .ql-stroke
{
    stroke: gainsboro;
}
.ql-snow .ql-fill
{
    fill: gainsboro;
}
.ql-snow .ql-picker
{
    color: gainsboro;
}
.ql-snow .ql-picker-options
{
    background-color: #1A1A1B;
}
.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke
{
    stroke: #ff9933;
}
.ql-snow.ql-toolbar button.ql-active .ql-fill
{
    fill: #ff9933;
}
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar button:hover,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected
{
    color: #ff9933;
}
.ql-snow.ql-toolbar button:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke
{
    stroke: #ff9933;
}
.ql-snow.ql-toolbar button:hover .ql-fill
{
    fill: #ff9933;
}


#category-group
{
    width: 100%;
    position: relative;
    margin-bottom: 8px;
}
#category-group #category
{
    width: calc(100% - 16px);
}
#category-group #category[aria-selected=false] ~ #category-list
{
    display: none;
}
#category-group #category[aria-selected=true]
{
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    border: 1px solid lightgray;
    border-bottom: #bebebe;
}
#category-group #category-list
{
    position: absolute;
    width: 100%;
    background-color: #272729;
    border: 1px solid lightgray;
    border-top: 1px solid #484848;
    z-index: 80;
}
#category-group #category-list .category-list-option
{
    padding: 8px;
    display: block;
}
#category-group #category-list .category-list-option:hover
{
    background-color: #1A1A1B;
}
#category-list-close
{
    border-bottom: 1px solid #484848;
    padding: 4px;
    cursor: pointer;
    text-align: center;
}
